AWS_ACCESS_KEY=your_aws_key
AWS_SECRET_KEY=your_aws_secret
S3_BUCKET_NAME=hms-ehr-records

POSTGRES_DB=hmsdb
POSTGRES_USER=hmsuser
POSTGRES_PASSWORD=change-me

JWT_SECRET=change-me

FRONTEND_URL=http://localhost:5173

MONGO_DATABASE=hms_inventory

SENDGRID_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=